JWT_SECRET=change_me_min_32_chars
SECRET_KEY=change_me_min_32_chars
AO_CLIENT_ID=
AO_CLIENT_SECRET=
AO_REDIRECT_URI=https://op.aca-aol.id/oauth/callback
AO_SCOPE=other_payment_save
AO_OP_SAVE_PATH=/api/other-payment/bulk-save.do
